.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 80px);
}

.App section {
  max-width: 600px;

  font-size: 22px;
}
