.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 80px);
}

.App section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 600px;

  font-size: 22px;
}

@media (width <= 900px) {

  .App main {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .App section {
    width: 90%;
  }

}
